# OS
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native Packager
.expo/
.expo-shared/
.buckconfig
metro-cache/
*.log

# TypeScript cache
*.tsbuildinfo

# Android
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
android/.DS_Store

# Android C++ build artifacts
android/app/.cxx/
android/app/intermediates/
android/app/generated/
android/app/obj/
android/app/release/

# iOS
ios/Pods/
ios/DerivedData/
ios/build/
ios/.DS_Store
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xccheckout
*.moved-aside

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
*.pbxuser
*.mode1v3
*.mode2v3

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Bundle output
*.jsbundle
*.hprof

# Testing
coverage/
*.lcov

# dotenv
.env
.env.*

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Misc
*.swp
*.lock

# Git LFS pointer files (if using LFS)
*.apk filter=lfs diff=lfs merge=lfs -text
